{% extends 'base.html.twig' %}

{% block title %}Long URL{% endblock %}

{% block body %}

<div class="container-sm" style="margin: 70px;">
    <div class="row justify-content-center ">
        <div class="card col-8  shadow-sm" >
            <div class="card-body">
            
            <div id="info" >
                <h3>Long URL:</h3>
                <p> {{ long_url }} </p>
            </div>
            </div>
        </div>
    </div>
</div>


</body>

{% endblock %}